<div class="form-row form-row--gap">
  <div ng-repeat="option in question.options.getValues() track by $index">
    <label class="custom-checkbox">
      <input id="{{question.id}}{{$index}}"
               name="{{question.id}}{{$index}}"
               type="checkbox"
               class="custom-checkbox__input"
               ng-model="question.answer"
               ng-change="question.removeError();question.options.onChange(question);question.saveAnswer();"
               ng-class="{'fsm-invalid': question.hasError(), 'fsm-valid': !question.hasError()}"
               ng-true-value="'{{question.options.getValues()[0].value}}'"
               ng-false-value="undefined">
        <span class="custom-checkbox__icon" translate>{{question.options.getValues()[0].label}}</span>
    </label>
  </div>
</div>
<div ng-include="'templates/tooltip.tpl.html'"></div>