<div class="form-label">
    <label for="{{question.id}}"><span translate translate-default=" " translate-values="question.text.getTranslateValues()">{{question.text.root+'.QUESTION'}}</span><span ng-show="question.isRequired()" class="required"></span></label>
</div>

<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div class="form-row form-row--gap">

            <input type="text"
                   id="{{question.id}}"
                   name="{{question.id}}"
                   class="input-text"
                   placeholder="{{question.options.getPlaceholder()}}"
                   input-touched
                   ng-model="question.answer"
                   ng-class="{'fsm-invalid': question.hasErrors(), 'fsm-valid': !question.hasErrors()}"
                   ng-change="question.removeError(); updateCalendarModel(question.answer);"
                   ng-blur="formatDateString(question); updateCalendarModel(question.answer);"
                   maxlength="{{question.restrictions.getMax().length}}"
                    />
            <i aria-hidden="true" class="icon icon-date" ng-click="question.isOpen =! question.isOpen"></i>
            <div datepicker-popup="yyyy-MM-dd"
                 min-date="question.restrictions.getMin().date"
                 max-date="question.restrictions.getMax().date"
                 ng-model="question.calendarModel"
                 ng-class="{'fsm-invalid': question.hasErrors(), 'fsm-valid': !question.hasErrors()}"
                 ng-change="question.removeError();question.setAnswer(question.calendarModel);"
                 is-open="question.isOpen"
                    style="margin-top:1px;">
                 </div>
        </div>
        <div ng-include="'templates/tooltip.tpl.html'"></div>
    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>