<div class="col-sm-6">
    <span>
        <label for="{{question.id}}Date"
               ng-class="{'mandatory' : question.isRequired()}">{{question.text.root+'.QUESTION' | translate}}
        </label>
    </span>
</div>
<div class="col-sm-6" ng-init="question.model[question.id] = {};">
    <div class="row">
        <div class="col-sm-8">
            <input type="text"
                   id="{{question.id}}Date"
                   name="{{question.id}}Date"
                   class="form-control"
                   ng-model="question.model[question.id].date"
                   ng-class="{'fsm-invalid': question.hasErrors(), 'fsm-valid': !question.hasErrors()}"
                   ng-change="question.removeError();"
                    />
        </div>
        <div class="clearfix visible-xs" style="padding-bottom: 15px;"></div>
        <div class="col-sm-4">
            <input type="text"
                   id="{{question.id}}Time"
                   name="{{question.id}}Time"
                   class="form-control"
                   ng-model="question.model[question.id].time"
                   ng-class="{'fsm-invalid': question.hasErrors(), 'fsm-valid': !question.hasErrors()}"
                   ng-change="question.removeError();"
                    />
        </div>

    </div>
</div>