<div class="form-label">
    <label for="{{question.id}}">{{question.textRoot+'.QUESTION' | fsmTranslate}}<span ng-show="question.isRequired()" class="required"></span></label>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div ng-include="'templates/tooltip.tpl.html'"></div>
    </div>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div class="form-row form-row--gap">
            <div class="input-group">
                <input type="text"
                   id="{{question.id}}"
                   name="{{question.id}}"
                   placeholder="{{question.placeholder}}"
                   input-touched
                   class="input-text input-group__input"
                   ng-model="question.model[question.id]"
                   ng-class="{'fsm-invalid': question.hasErrors(), 'fsm-valid': !question.hasErrors()}"
                   ng-change="question.removeErrors();question.saveAnswer();"
                   maxlength="{{question.maxLength}}"
                    />
                <div class="input-group__addon">{{'VIEW.EXTRAS.CURRENCY_SWEDISH' | fsmTranslate}}</div>
            </div>
        </div>
    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>