<div class="form-label">
    <label for="{{question.id}}">{{question.text.root+'.QUESTION' | translate}}<span ng-show="question.isRequired()" class="required"></span></label>
</div>

<div class="grid">
    <div class="grid__item sm--six-twelfths">
       <div class="form-row form-row--gap">
          <div class="input-group">
              <div class="input-group__addon">

                  <div class="addon-select">
                    {{ question.answer.countryCode.phoneCode }} <i class="icon icon-arrow-down" aria-hidden="true"></i>
                      <select ng-model="question.answer.countryCode"
                              id="{{question.id}}CountryCode"
                              name="{{question.id}}CountryCode"
                              ng-change="question.removeError(); addZeroToPhoneNumber(); question.saveAnswer();question.setAnswer(question.answer);"
                              ng-init="question.answer.countryCode = question.options[209]; question.answer.phoneNumber = '0';"
                              ng-options="option.name for option in question.options track by option.id"

                              >
                      </select>
                  </div>
              </div>
              <input
                      type="tel"
                      class="input-text input-group__input"
                 id="{{question.id}}PhoneNumber"
                 name="{{question.id}}PhoneNumber"
                 input-touched
                 ng-model="question.answer.phoneNumber"
                 ng-change="question.removeError(); question.onChange(question); question.saveAnswer();question.setAnswer(question.answer);"
                  />
          </div>

        </div>
    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>