<div class="form-label" ng-if="question.text.root+'.QUESTION' | translate">
    <label for="{{question.id}}">{{question.text.root+'.QUESTION' | translate}}<span ng-show="question.isRequired()" class="required"></span></label>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div ng-include="'templates/tooltip.tpl.html'"></div>
    </div>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div class="form-row form-row--gap">
            <div class="custom-select custom-select--full-width">
                 <select id="{{question.id}}"
                        name="{{question.id}}"
                        class="form-control"
                        ng-model="question.model[question.id]"
                        ng-change="question.removeErrors();question.onChange(question); question.saveAnswer();"
                        ng-class="{'fsm-invalid': errors[question.id], 'fsm-valid': !errors[question.id]}"
                        ng-options="option.value as option.label | translate for option in question.options">
                </select>
            </div>
        </div>
    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>