<div class="form-label" ng-if="question.text.root+'.QUESTION' | translate">
    <label for="{{question.id}}"><span translate translate-default=" " translate-values="question.text.getTranslateValues()">{{question.text.root+'.QUESTION'}}</span><span ng-show="question.isRequired()" class="required"></span></label>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div ng-include="'templates/tooltip.tpl.html'"></div>
    </div>
</div>
<div class="grid">
    <div class="grid__item sm--six-twelfths">
        <div class="form-row form-row--gap">
            <div class="custom-select custom-select--full-width">
                <select id="{{question.id}}"
                        name="{{question.id}}"
                        class="form-control"
                        ng-model="question.answer"
                        ng-change="question.removeError();question.options.onChange(question); question.saveAnswer(); question.setAnswer(question.answer);"
                        ng-class="{'fsm-invalid': question.hasError(), 'fsm-valid': !question.hasError()}"
                        ng-options="option.value as option.label | translate for option in question.options.getValues()">
                </select>
            </div>
        </div>
    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>