<div class="form-label" ng-if="!question.text.hide" >
    <label for="{{question.id}}"><span translate translate-default=" " translate-values="question.text.getTranslateValues()">{{question.text.root+'.QUESTION'}}</span><span ng-show="question.isRequired()" class="required"></span></label>
</div>

<div class="grid">
    <div class="grid__item sm--six-twelfths" ng-include="'templates/tooltip.tpl.html'"></div>
</div>

<div class="grid">
    <div class="grid__item sm--six-twelfths">

        <div class="form-row form-row--gap">
            <textarea class="input-textarea"
                      ng-trim="false"
                      maxlength="{{question.restrictions.getMax()}}"
                      id="{{question.id}}"
                      name="{{question.id}}"
                      ng-model="question.answer"
                      placeholder="{{question.options.getPlaceholder()}}"
                      ng-change="question.removeError();question.onChange(question);question.setAnswer(question.answer);"
                      ng-class="{'fsm-invalid':question.hasError(), 'fsm-valid': !question.hasError()}"
                      ></textarea>
        </div>
        <div class="form-charcount" ng-cloak>{{question.answer ? question.answer.length : 0}} {{'GENERAL.EXTRAS.OF' |
            translate}} {{question.restrictions.getMax()}}
        </div>

    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>