<div class="form-label">
    <label>{{question.text.root+'.QUESTION' | translate}}</label>
</div>

<div class="grid">
  <div class="grid__item sm--six-twelfths" ng-include="'templates/tooltip.tpl.html'"></div>
</div>

<div class="grid">
    <div class="grid__item sm--six-twelfths">

        <div class="form-row form-row--gap">
            <textarea class="input-textarea"
              ng-trim="false"
              maxlength="{{question.maxLength}}"
              id="{{question.id}}"
              name="{{question.id}}"
              ng-model="question.model[question.id]"
              ng-change="question.removeErrors(); question.saveAnswer();"
              ng-class="{'fsm-invalid': errors[question.id], 'fsm-valid': !errors[question.id]}"></textarea>
        </div>
        <div class="form-charcount" ng-cloak>{{question.model[question.id].length}} {{'VIEW.EXTRAS.OF' | translate}} {{question.maxLength}}</div>

    </div>
    <div class="grid__item sm--six-twelfths" ng-include="'templates/formerror.tpl.html'"></div>
</div>